.hero-image {
    background-image: url(https://cdn.pixabay.com/photo/2018/04/08/05/34/shopping-3300452_1280.jpg);
    background-size: cover;
    height: 60vh;
    width: 100%;
    background-position: center;
}

.footer {
    background-color: rgb(153, 192, 212);
    text-align: center;
}

.copyright {
    padding: 10px;
}

.social {
    background-color: rgb(75, 149, 185);
}